<% include partials/header %>
        <h1>Registered Students</h1>
            <% students.forEach(function(students){ %>
            <div class="container">
                <table class="table table-bordered">  
                    <tbody>
                        <tr>
                           <td><p> <%= students.id %> </p></td>
                           <td><p> <%= students.name %> </p></td>
                           <td><p> <%= students.code %> </p></td>
                           <td><p> <%= students.subject %> </p></td>
                           <td><p> <%= students.teacher %> </p></td>
                           <td><p> <%= students.schedule %> </p></td>
                           <td><p> <%= students.units %> </p></td>
                           <td><p> <%= students.section %> </p></td>
                           <td><p> <%= students.course %> </p></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
    <%    }); %>

<% include partials/footer %>